<app-head></app-head>
<body>
  <br><br>
<form name="myForm" class="bloque" #peticionesForm="ngForm" (ngSubmit)="onSubmit(peticionesForm); peticionesForm.reset()">
    <div class="fondo">
    
      <h5 id="editar">Editar</h5>
        <div class="container" id="contenedor1">
         
            <label class="figure img-text">
                <input type="radio" name="categoria" value="clases"(click)="categorias('clases')">
                <img src="../../../assets/Professor.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Clases</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="mascotas" (click)="categorias('mascotas')">
                <img src="../../../assets/Mascotas.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Mascotas</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="recados"(click)="categorias('recados')">
                <img src="../../../assets/recadosIIIII.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Recados</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="servicios"(click)="categorias('servicios')">
                <img src="../../../assets/servicios.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Servicios</figcaption>
            </label>
    
          </div>
            <br>
<div class="container">
            <div class="subir_foto">
            <img src ="{{peticion[0].foto}}" id="id_peticion">

            <div class="form-group">
              <label for="photo">Añadir foto</label>
              <div class="drag-drop">
                  <input type="file" id="photo" name="photo" #foto>
                </div>
              </div>
            </div> 
      
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Titulo">Titulo</label>
                <input [ngModel]="peticion[0].titulo" class="form-control campos" name="titulo" id="titulo" #titulo="ngModel"
                 minlength="10" maxlength="60" required>
                <div class="form-control-feedback" 
                                *ngIf="titulo.errors && (titulo.dirty || titulo.touched)" id="err"> 
                                <p *ngIf="titulo.errors.required" id="err">El titulo es necesario</p>
                                <p *ngIf="titulo.errors.minlength" id="err">El titulo debe tener al menos 10 carácteres</p>
                                  </div>
                              </div>
                          
                            
         <div class="form-group col-md-6">
           <label for="precio">Precio</label>
           <input [ngModel]="peticion[0].precio" type="number" class="form-control campos" name="precio" id="precio" #precio="ngModel"
           required>
           <div class="form-control-feedback" 
           *ngIf="precio.errors && (precio.dirty || precio.touched)" id="precio"> 
         <div *ngIf="precio.errors.required" id="err">El precio es obligatorio</div>
     </div>
    </div>
  </div>

    
    
        <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Distrito</label>
                <select id="inputState" class="form-control campos" #zona [ngModel]="peticion[0].localizacion">
                  <option selected>Selecciona una opción</option>
                  <option>Arganzuela</option>
                  <option>Barajas</option>
                  <option>Carabanchel</option>
                  <option>Chamartin</option>
                  <option>Chamberi</option>
                  <option>Ciudad Lineal</option>
                  <option>Fuencarral-El Pardo</option>
                  <option>Hortaleza</option>
                  <option>Latina</option>
                  <option>Moncloa-Aravaca</option>
                  <option>Moratalaz</option>
                  <option>Puente de Vallecas</option>
                  <option>Retiro</option>
                  <option>Salamanca</option>
                  <option>San Blas Canillejas</option>
                  <option>Tetuan</option>
                  <option>Usera</option>
                  <option>Vicalcaro</option>
                  <option>Villa de Vallecas</option>
                  <option>Villaverde</option>
                </select>
              </div>

            <div class="form-group col-md-6">
                <label for="fecha">Fecha</label>
                <input [ngModel]="peticion[0].fecha_finalizacion" name="fecha" type="date" class="form-control campos" id="fecha" #fecha="ngModel"
                [ngClass]="{ 'is-invalid': peticionesForm.submitted && fecha.invalid }" required>
                <div class="invalid-feedback" *ngIf="peticionesForm.submitted && fecha.invalid">
                  <div *ngIf="fecha.errors.required" id="fecha">La fecha de finalización es obligatoria</div>
              </div>
            </div>
          </div>
          
    
    
    
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="descripcion">Descripcion</label>
            <textarea [ngModel]= peticion[0].descripcion class="form-control" name="descripcion" class="form-control campos " id="descripcion" rows="6"  #descripcion="ngModel"
             minlength="40" maxlength="600" required>
          </textarea>
          <div class="form-control-feedback" 
          *ngIf="descripcion.errors && (descripcion.dirty || descripcion.touched)" id="err"> 
          <p *ngIf="descripcion.errors.required" id="err">La descripción es necesaria</p>
          <p *ngIf="descripcion.errors.minlength" id="err">La descripción debe tener al menos 20 carácteres</p>
            </div>
        </div>
      </div>
     <br>


        <button class="btn btn-warning editar btn-block" type="submit"  [disabled]="peticionesForm.invalid" id="button1" (click) = "editarPeticion(foto.value, titulo.value, precio.value, zona.value, fecha.value, descripcion.value)">Guardar </button>

      </div>  
      <div [hidden]="!peticionesForm.submitted">
        <h2>¡Gracias, tu petición se editó correctamente!</h2>
      </div>


      </div>
    </form> 
    <br>
    <br>
    <br>
  </body>