<app-head></app-head>
<body>
  <br><br>
<form class="bloque">
    <div class="fondo">
    
      <h5 id="editar">Editar</h5>
        <div class="container" id="contenedor1">
         
            <label class="figure img-text">
                <input type="radio" name="categoria" value="clases"(click)="categorias('clases')">
                <img src="../../../assets/Professor.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Clases</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="mascotas" (click)="categorias('mascotas')">
                <img src="../../../assets/Mascotas.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Mascotas</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="recados"(click)="categorias('recados')">
                <img src="../../../assets/recadosIIIII.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Recados</figcaption>
            </label>
    
            <label class="figure img-text">
                <input type="radio" name="categoria" value="servicios"(click)="categorias('servicios')">
                <img src="../../../assets/servicios.jpg" alt="error" class="img-ts img-thumbnail">
                <figcaption class="figure-caption text-md-center">Servicios</figcaption>
            </label>
    
        </div>
    
    
            <br>
<div class="container">
            <div class="subir_foto">
            <img src ="{{peticion[0].foto}}" id="id_peticion" #foto/>

            <div class="form-group">
              <label for="photo">Añadir foto</label>
              <div class="drag-drop">
                  <input type="file" id="photo" name="photo" #foto>
                </div>
              </div>
            </div>
      
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Titulo">Titulo</label>
                <input type="text" class="form-control campos" id="titulo" #titulo value = "{{peticion[0].titulo}}">
              </div>
  

          <div class="form-group col-md-6">
            <label for="precio">Precio</label>
            <input type="number" class="form-control campos" id="precio" #precio value = "{{peticion[0].precio}}">
          </div>
 
      </div>
    
    
        <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Distrito</label>
                <select id="inputState" class="form-control campos" #zona value = "{{peticion[0].localizacion}}">
                  <option selected>Centro</option>
                  <option>Arganzuela</option>
                  <option>Barajas</option>
                  <option>Carabanchel</option>
                  <option>Chamartin</option>
                  <option>Chamberi</option>
                  <option>Ciudad Lineal</option>
                  <option>Fuencarral-El Pardo</option>
                  <option>Hortaleza</option>
                  <option>Latina</option>
                  <option>Moncloa-Aravaca</option>
                  <option>Moratalaz</option>
                  <option>Puente de Vallecas</option>
                  <option>Retiro</option>
                  <option>Salamanca</option>
                  <option>San Blas Canillejas</option>
                  <option>Tetuan</option>
                  <option>Usera</option>
                  <option>Vicalcaro</option>
                  <option>Villa de Vallecas</option>
                  <option>Villaverde</option>
   


                </select>
              </div>

            <div class="form-group col-md-6">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control campos" id="fecha" #fecha value = "{{peticion[0].fecha_finalizacion}}">
              </div>
            </div>
    
    
    
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="descripcion">Descripcion</label>
            <textarea class="form-control" class="form-control campos " id="descripcion" rows="6"  #descripcion value = "{{peticion[0].descripcion}}"></textarea>
          </div>
        </div>
    
    
        <a class="btn btn-warning editar" id="button1" (click) = "editarPeticion(foto.value, titulo.value, precio.value, zona.value, fecha.value, descripcion.value)">Guardar </a>

      </div>  


      </div>
    </form> 
    <br>
    <br>
    <br>
  </body>