<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/logoHead.png" alt="" id="logo">
      </div>

      <form id="horizontalForm">
        <div class="form-row">
          <div class="col has-search">
            <span class="fa fa-at form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Email" id="email" #email>
          </div>
          <div class="col has-search">
            <div class="col">
              <span class="	fa fa-key form-control-feedback"></span>
              <input type="password" class="form-control" placeholder="Contraseña" id="Password" #password>
            </div>
          </div>
          <div class="col">
            <button type="button" id="loginBoton" class="btn btn-primary"
              (click)="getLogin(email.value, password.value)">Iniciar Sesión</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div id="espacio" class="container-fluid">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div id="tiempoLeft" class="col-6">
        <h2><span class="blanco"> TIEMPO POR </span> TIEMPO <br>
          <span class="blanco"> GASTA TU TIEMPO EN LO QUE DE VERDAD TE</span> GUSTE <br>
          <span class="blanco">NO PIERDAS MÁS EL TIEMPO Y</span> ÚNETE
        </h2>
      </div>

      <div id="tictac" class="col-6">
        <h2 CLASS="blanco"> TIC TAC TIC TAC TIC TAC TIC TAC TIC <br>
          TAC TIC TAC TIC TAC TIC TAC TIC TAC!</h2>
        <button (click)=" openModal(template)" id="registro"> Regístrate </button>
      </div>
    </div>
  </div>


  <ng-template #template class="elmodal">
    <div id="elmodal" class="modal-header">
      <h2 id="modalTitle" class="modal-title pull-center">OUT <span class="blanco">TIME</span></h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>

      </button>
    </div>

    <div id="elmodal" class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label class="blanco">Crea tu cuenta:</label>

          <input type="text" [ngClass]="{ 'is-invalid': submitted && f.nombre_usuario.errors }" formControlName="nombre_usuario" class="form-control" id="modalInput" placeholder="Nombre de usuario"
            #nombre/>
            <div *ngIf="((submitted ||f.nombre_usuario.touched) && f.nombre_usuario.errors)" class="invalid-input">
              <div *ngIf="f.nombre_usuario.errors.required"id="formato">El nombre es obligatorio</div>
          </div>  
        </div>

        <div class="form-group">  
          <input type="text" formControlName="email" class="form-control" type="email"  id="modalInput1" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"placeholder="Introduce tu email" #email />
          <div *ngIf="((submitted ||f.email.touched) && f.email.errors)" class="invalid-input">
              <div *ngIf="f.email.errors.required"id="formato">El email es obligatorio</div>
              <div *ngIf="f.email.errors.email"id="formato">Debe ingresar un email válido</div>
          </div>
      </div>

   
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control" id="modalInput2"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Contraseña" #contrasena/>
        <div *ngIf="((submitted ||f.password.touched) && f.password.errors)" class="invalid-input">
            <div *ngIf="f.password.errors.required"id="formato">La contraseña en obligatoria</div>
            <div *ngIf="f.password.errors.minlength"id="formato">La contraseña debe contener al menos 6 carácteres</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" formControlName="confirmPassword" class="form-control"  id="modalInput3" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirma tu contraseña" />
          <div *ngIf="((submitted ||f.confirmPassword.touched) && f.confirmPassword.errors)" class="invalid-input">
            <div *ngIf="f.confirmPassword.errors.required" id="formato">Debe confirmar la contraseña</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch"id="formato">Las contraseñas deben de coincidir</div>
        </div>
    </div>


        <div class="form-group">
          <button class="button" id="modalBoton"  class="btn btn-dark" (click)="insertarUsuario(nombre.value, email.value, contrasena.value); registerForm.reset()" [disabled]="!registerForm.valid">Tic Tac</button>
        </div>
        
      </form>
  </div>
  </ng-template>

</body>