
#foto_perfil {

  border-radius: 200px;
  height: 220px;
  width: 220px; 
  /*margin:auto 6%;*/
  display: block;
  margin: 0 auto;
  
}
#nombre{
  text-align: center;
}
#start {
  display: block;
  margin: 0 auto 0 10%;
}

.estrella{

  width: 35px;
  height: 35px;
  margin-left: 0.6%;
  text-align: left;

}


#tiempo{
  
  align-content: center;
  text-align: center;
}

#id_reloj{

  height: 45px;
  width: 45px;
  /* float: right; */
}

.start label {
  font-size:55px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color:#FFCC00;
}

input[type="radio"]:checked ~ label {
  color:#FFCC00;
}

#bio:focus, input:focus, input[type]:focus{
  
  border-color:#FFCC00;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}


.formulario{

  margin-top: 17%;
  margin-left: 7%;
}
.perfil-left{
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  background-color:#FFCC00 ;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 40px;
  width: 45%;
}

#guardar{
  display: block;
  margin: 7% auto 10% 7%;
  text-align: center;
  width: 180px;
  height: 60px;
  color:#FFCC00 ;
  background-color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 40px;
}

textarea{
  resize: none;
}




#botonMaldito {
  opacity: 0;
  margin-bottom: 10%;
  margin-top: 1%;
  z-index: 3;
  position: absolute;
  
}

#anadirFoto{
 z-index: 1;
 position: absolute;
 margin-top: 1%;
 color: white;
 margin-left: 1%;
 font-weight: bold;
}
