

.perfil {

  background:white;
	color: white;
  height: 100%;
  width: 20%;
  position: absolute;
  left:0px; 
  right:0px; 
  bottom:0px;
  z-index:-1;

}

.container{

  margin: 0 auto;
  align-content: center;
  margin-left: 30%;
  width: 600px;
  margin-top:5%;

}

#name:focus, input:focus, input[type]:focus{
    border-color:#FFCC00;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
    }
#name{
    border-radius: 12px;
    height: 50px;
}
#lastname1{
    border-radius: 12px;
    height: 50px;
}
#lastname2{
    border-radius: 12px;
    height: 50px;
}
#inputPassword5{
    border-radius: 12px;
    height: 50px;
}
#telf{
    border-radius: 12px;
    height: 50px;
}
#mail{
    border-radius: 12px;
    height: 50px;
}
#bio{
    border-radius: 12px;
    
}
#bio:focus, input:focus, input[type]:focus{
    border-radius: 12px;
    border-color:#FFCC00;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}

#guardar{
    position: absolute;
    left:7%; 
    right:0px; 
    bottom:15%;
    z-index:10;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bolder;
}

#id_perfil{

    border-radius: 200px;    
    margin-left: 4.2%;
    position: absolute;
    bottom: 52%;
  

}
/* Estrellas */
.clasificacion{
    position: absolute;
    margin-left: 4.4%;
    z-index:20;
    bottom: 40%;
}
#start {
    width: 250px;
    margin: 0 auto;
    height: 50px;

  }
  
  #start p {
    text-align: center;
  }
  
  .start label {
    font-size:70px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color:#FFCC00;
  }
  
  input[type="radio"]:checked ~ label {
    color:#FFCC00;
  }
  #tareas{
    position: absolute;
    margin-left: 4.5%;
    z-index:20;
    bottom: 38%;
    color: #2F2F2F;


  }
#id_reloj{

    width: 60px;
    height: 60px;
    margin-left: 13%;
    bottom: 28%;
    position: absolute;
}
#tiempo{
    position: absolute;
    margin-left: 9%;
    z-index:20;
    bottom: 28%;
    color: #2F2F2F;
}