<body>
<app-head></app-head>
  <div class="container" >

    <div class="row" >
  
      <div class="col-lg-3" class = "perfil-left">
        <form >
            <div class="form-group">

                    <img src ="{{perfil[0].foto}}" id="foto_perfil"/>
                    <div class="drag-drop">
                    <label id = "anadirFoto" for="photo"> Añadir foto
                    </label>
                    <input id="botonMaldito" type="file" name="photo" #foto 
                    (change)="handleFileInput($event.target.files)">
                    </div>
                  
            </div>
            <br>
            <br>
              
            <h3 id="nombre">{{perfil[0].nombre_usuario}}</h3>
            <br>
        
  
        <div id="start">
  
          <app-valoracion></app-valoracion>
        
          <br>
  
       
  
        
        <h5 id="tareas">{{ perfil[0].tareas_publicadas}} publicadas | {{ perfil[0].tareas_solicitadas}} solicitadas <span> </span></h5>
        <br>
        
        <h3 id="tiempo"> {{ perfil[0].monedas}} <img src ="../../../assets/reloj.png" id="id_reloj"> </h3>
     
        <button type="button" id= "guardar" class="btn btn-warning"id= "guardar" class="btn btn-warning" (click) = "editarPerfil(nombreUsuario.value, nombre.value, primer_apellido.value, segundo_apellido.value, contrasena.value, telefono.value, email.value, biografia.value, foto.value)">Guardar</button>
      </div>
    
      </form>
  
    </div>

    

    <div class="col-lg-6">

      <form class="formulario">
        
        <div class="form-row">
        

          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Nombre de usuario</label>
            <input type="text" class="form-control" id="nameUser" value = "{{perfil[0].nombre_usuario}}" placeholder="Introduce tu nombre de usuario" #nombreUsuario>
          </div>

        <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Nombre</label>
            <input type="text" class="form-control" id="name"value = "{{perfil[0].nombre}}"  placeholder="Introduce tu nombre" #nombre>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Primer apellido</label>
            <input type="text" class="form-control" id="lastname1" value = "{{perfil[0].primer_apellido}}" placeholder="Introduce tu primer apellido" #primer_apellido>
          </div>
          
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Segundo apellido</label>
            <input type="text" class="form-control" id="lastname2" value = "{{perfil[0].segundo_apellido}}"placeholder="Introduce tu segundo apellido" #segundo_apellido>
          </div>
        </div> 
    
        <div class="form-row">

          <div class="form-group col-md-12">
            <label for="formGroupExampleInput">Contraseña</label>
            <input type="password" id="inputPassword5" value = "{{perfil[0].contrasena}}" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Introduce tu contraseña" #contrasena>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Teléfono</label>
            <input type="tel" class="form-control" id="telf" value = "{{perfil[0].telefono}}" placeholder="Introduce tu teléfono" #telefono>
          </div>
    
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" id="mail" value = "{{perfil[0].email}}" placeholder="Introduce tu email" #email>
          </div>
        
    
          <div class="form-group col-12">
          <label for="exampleFormControlTextarea1">Biografía</label>
          <textarea class="form-control" maxlength="500" id="bio" value = "{{perfil[0].biografia}}" rows="10" #biografia></textarea>
          </div>
          
         </div>
    
      </form>
      
    </div>

  </div>

</div>

</body>