#id_perfil{

  border-radius: 200px;
  height: 220px;
  width: 220px;
  margin-top: 30%;
}

#tiempo{

  text-align: center;
}

#id_reloj{

  height: 45px;
  width: 45px;
  /* float: right; */
}

.start label {
  font-size:55px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color:#FFCC00;
}

input[type="radio"]:checked ~ label {
  color:#FFCC00;
}

#bio:focus, input:focus, input[type]:focus{
  
  border-color:#FFCC00;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}


.formulario{

  margin-top: 17%;
}

#guardar{

  margin-top: 25%;
  margin-left: 10%;
  width: 180px;
  height: 60px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 40px;
}

textarea{
  resize: none;
}