.checked {
    color: rgb(75, 75, 75);
}

.fa, .far{

    font-size: 35px;
    /* color: white; */
    color: rgb(75, 75, 75);
}
#valo-puntos {

    margin-top: 2%;
    margin-left: -8%;
}
#puntos{
    text-align: right;
}

#numero{
    text-align: left;
   

}

#estrellas{
    margin: 0,auto;
}