
<div *ngIf="(valoracion == 1 || valoracion > 1) && (valoracion < 1.4 || valoracion == 1.4)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>
    
</div>

<div *ngIf="(valoracion == 1.41 || valoracion > 1.41) && (valoracion < 1.9 || valoracion == 1.9)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-alt"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="(valoracion == 1.91 || valoracion > 1.91) && (valoracion < 2.4 || valoracion == 2.4)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>
    
</div>

<div *ngIf="(valoracion == 2.41 || valoracion > 2.41) && (valoracion < 2.9 || valoracion == 2.9)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-alt"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="(valoracion == 2.91 || valoracion > 2.91) && (valoracion < 3.4 || valoracion == 3.4)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="(valoracion == 3.41 || valoracion > 3.41) && (valoracion < 3.9 || valoracion == 3.9)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-alt"></span>
    <span class="far fa-star"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="(valoracion == 3.91 || valoracion > 3.91) && (valoracion < 4.4 || valoracion == 4.4)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="far fa-star"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="(valoracion == 4.41 || valoracion > 4.41) && (valoracion < 4.9 || valoracion == 4.9)" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-alt"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>

</div>

<div *ngIf="valoracion == 4.91 || valoracion > 4.91" id="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    
    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h5 id="puntos">{{valoracion}}/5 </h5> 

            </div>

            <div class="col-lg-6">

                <h6 id="numero">{{numero_valoraciones}} valoraciones</h6>

            </div>
        </div>
    </div>
        
</div>



