<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
  <app-head></app-head>

  <nav class="navbar navbar-expand-lg navbar-light" id="nav1" >
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        
      <div class="form-group has-search" >
        <span class="fa fa-search form-control-feedback"></span>

        <input type="text" (keyup.enter)="mostarPeticionesBusqueda(busqueda.value)" class="form-control" id="barraBuscar" placeholder="Buscar..." #busqueda/>

        
      </div>
            
    </div>
    <div class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        
    </div>
    <div class=" col-1 col-sm-2 col-md-2 col-lg-3 col-xl-3">
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto" id="ul1">
      
            <li class="nav-item active">
              <button class="btn botonArriba" type="button" id="button1" (click)="openModal(template)">Filtros</button>
            </li>
            <li class="nav-item active">
              <button routerLink="/nueva-tarea" class="btn btn-outline-warning botonArriba" type="submit" id="button2"> <i class="fa fa-plus-circle"></i> Nueva petición 
                
              </button>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <hr id="hr1">

  <div class="container" id="container1">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


      <div *ngIf="peticiones!=null">

        <div class="row">

          <div class="col-lg-12">

            <div *ngFor="let peticion of peticiones; let i = index">
              
              <div class="card " id="card1">
                <img class="card-img-top" src="{{peticion.foto}}" alt="Card image cap" (click) = "mostrarPeticion(i)">
                
                <div class="card-body">
                  <h6 class="zona">{{peticion.localizacion}}</h6>
                  <h6 class="fecha">{{peticion.fecha_finalizacion | date:'dd/MM/yyyy'}}</h6>
                  <br>
                  <br>
                  <h5 class="card-title" (click) = "mostrarPeticion(i)" >{{peticion.titulo}}</h5>
                  <p class="card-text" id="cuerpo_descripcion">{{peticion.descripcion}} </p>
                  
                  <img class="reloj" src="..\..\..\assets\reloj-de-arena.png" alt="">
                  <h6 class="monedas">{{peticion.precio}}</h6>
        
                  <div *ngIf="peticiones[i].id_creador === userLogin[0].id_usuario">

                    <button class="btn btn-warning solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                  </div>
                  <div *ngIf="peticiones[i].id_creador != userLogin[0].id_usuario">

                    <button class="btn btn-warning solicitar" id="botonx" (click)="solicitar(i)">Solicitar</button>

                  </div>

                  
                </div>
              </div>
            </div>

          </div>

        </div>
    
      </div>

      <div *ngIf="peticiones[0] === undefined">

        <h2>Oops, parece que no hay ninguna petición con los criterios de búsqueda introducidos...</h2>


      </div>

    </div>

  </div>

 
  

  <ng-template #template class="elmodal">
    <div class="modal-header">
      <h4 class="modal-title pull-center" id="h4filtro">Filtros</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
  
      </button>
    </div>
    <div class="modal-body">

      <div> <label >Categorías:</label>

        <br>        
        
        <label class="figure img-text">
          <input type="radio" name="categoria">
          <img src="../../../assets/Professor.jpg" alt="error" class="img-ts img-thumbnail imgfiltro" (click)="categorias('clases')">
        </label>

        <label class="figure img-text">
          <input type="radio" name="categoria">
          <img src="..\..\..\assets\Mascotas.jpg" alt="error" class="img-ts img-thumbnail imgfiltro" (click)="categorias('mascotas')">
        </label>

        <label class="figure img-text">
          <input type="radio" name="categoria" >
          <img src="..\..\..\assets\recadosIIIII.jpg" alt="error" class="img-ts img-thumbnail imgfiltro" (click)="categorias('recados')">
        </label>

        <label class="figure img-text">
          <input type="radio" name="categoria">
          <img src="..\..\..\assets\servicios.jpg" alt="error" class="img-ts img-thumbnail imgfiltro" (click)="categorias('servicios')">
        </label>
      
        

      </div>
      <form>
        <div class="form-group">
          <label >Expira el:</label>
          <input type="date" class="form-control inputsFiltro" aria-describedby="emailHelp" placeholder="" #fecha>
          
        </div>
        <div class="form-group">
          <label >Precio:</label>
          <input type="number" class="form-control inputsFiltro" placeholder="Introduzca precio mínimo" #precio>
        </div>
        <div class="form-group">      
          <label for="inputState">Localización</label>
          <select id="inputState" class="form-control campos" #localizacion>
            <option selected>Selecciona una opción</option>
            <option>Centro</option>
            <option>Arganzuela</option>
            <option>Barajas</option>
            <option>Carabanchel</option>
            <option>Chamartin</option>
            <option>Chamberi</option>
            <option>Ciudad Lineal</option>
            <option>Fuencarral-El Pardo</option>
            <option>Hortaleza</option>
            <option>Latina</option>
            <option>Moncloa-Aravaca</option>
            <option>Moratalaz</option>
            <option>Puente de Vallecas</option>
            <option>Retiro</option>
            <option>Salamanca</option>
            <option>San Blas Canillejas</option>
            <option>Tetuan</option>
            <option>Usera</option>
            <option>Vicalcaro</option>
            <option>Villa de Vallecas</option>
            <option>Villaverde</option>
          </select>
        </div>
        
        <button type="button" class="btn btn-primary" id="botonFiltro" (click) = "mostrarPeticionesFiltros(precio.value, localizacion.value, fecha.value)" (click)="modalRef.hide()">Buscar</button>
      </form>
    </div>
  </ng-template>

  
  
</body>


</html>

