<body>
  <app-head></app-head>
  
  <div class="container" id="container1">
    <div class="row">
      <div class="col-lg-4">
        <img src ="{{user[0].foto}}" id="id_perfil">
        <h2 id="nombre">{{user[0].nombre_usuario}}</h2>
        
        <app-valoracion></app-valoracion>
        
        <h1 id="tiempo">{{user[0].monedas}} <img src ="../../../assets/reloj-de-arena.png" id="id_tiempo"></h1>
        <button routerLink="/nueva-tarea" type="button" id= "nueva_peticion"class="btn btn-light"><i class="fa fa-plus-circle" id="plus"></i> Nueva petición</button>
      </div>
      <div class="col-lg-8">
        <div [class.active]="classApplied">
        <button class="button" id="tareas_realizadas"  (click) = "mostrarPeticionesPub(); toggleClass()">Peticiones publicadas</button>
  
        <button class="button" id="tareas_publicadas" (click) = "mostrarPeticionesSol(); toggleClass()">Peticiones solicitadas</button>
      </div>

        <div class="container" id="container2">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    
            

            <div *ngIf="peticiones[0] == null">

              <div class="card " id="card1">
                <img class="card-img-top" src="..\..\..\assets\oops.jpg" alt="Card image cap">
                
                <div class="card-body">
                  <h6 class="zona">Sin localizacion</h6>
                  <h6 class="fecha">00/00/0000</h6>
                  <br>
                  <br>
                  <h5 class="card-title">¡No hay peticiones!</h5>
                  <p class="card-text">{{peticionError.descripcion}}</p>
                  
                  <img class="reloj" src="..\..\..\assets\reloj-de-arena.png" alt="">
                  <h6 class="monedas"></h6>
        

                  <div *ngIf="peticionError.estado === 'Muro'">

                    <button class="btn btn-warning solicitar" id="botonx" routerLink="/muro">{{peticionError.estado}}</button>

                  </div>

                  <div *ngIf="peticionError.estado === 'Publicar'">

                    <button class="btn btn-warning solicitar" id="botonx" routerLink="/nueva-tarea">{{peticionError.estado}}</button>

                  </div>
                  
                  
                    
                   
                </div> 
              </div>   
            </div>
      
            <div *ngIf="peticiones!=null">
      
              <div class="row">
      
                <div class="col-lg-12">
      
                  <div *ngFor="let peticion of peticiones; let i = index">
                    
                    <div class="card " id="card1">
                      <img class="card-img-top" src="{{peticion.foto}}" alt="Card image cap">
                      
                      <div class="card-body">
                        <h6 class="zona">{{peticion.localizacion}}</h6>
                        <h6 class="fecha">{{peticion.fecha_finalizacion | date:'dd/MM/yyyy'}}</h6>
                        <br>
                        <br>
                        <h5 class="card-title">{{peticion.titulo}}</h5>
                        <p class="card-text">{{peticion.descripcion}} </p>
                        
                        <img class="reloj" src="..\..\..\assets\reloj-de-arena.png" alt="">
                        <h6 class="monedas">{{peticion.precio}}</h6>
              
                        <div *ngIf="peticiones[i].id_creador === user[0].id_usuario">

                          <div *ngIf="peticiones[i].estado === 'sin solicitar'">

                            <button class="btn btn-warning solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                            <br>
                            <label id = "anadirFoto" for="photo" (click) = "mostrarPeticion(i)">Editar</label>
                          </div>

                          <div *ngIf="peticiones[i].estado === 'solicitada'">

                            <button class="btn btn-success solicitar" id="botonx" (click)="datosSolicitante(peticiones[i].id_solicitante)" (click)="openModal(template)">{{peticiones[i].estado}}</button>
                          </div>

                          <div *ngIf="peticiones[i].estado === 'aceptada'">

                            <button class="btn btn-success solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                          </div>

                          <div *ngIf="peticiones[i].estado === 'realizada'">

                            <button class="btn btn-primary solicitar" id="botonx" (click)="datosSolicitante(peticiones[i].id_solicitante)" (click)="openModal(template2)">{{peticiones[i].estado}}</button>
                          </div>

                          <div *ngIf="peticiones[i].estado === 'expirada'">

                            <button class="btn btn-danger solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                          </div>

                          <div *ngIf="peticiones[i].estado === 'completada'">

                            <button class="btn btn-secondary solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                            <br>

                            <div *ngIf="peticiones[i].valorada_creador === 0">

                              <label id = "anadirFoto" (click)="datosSolicitante(peticiones[i].id_solicitante)" (click)="openModal(template3a)">Pendiente de valoración</label>

                            </div>

                          </div>

                          
                        </div>

                        <div *ngIf="peticiones[i].id_creador != user[0].id_usuario">

                          <div *ngIf="peticiones[i].estado === 'solicitada'">

                            <button class="btn btn-warning solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>

                          </div>

                          <div *ngIf="peticiones[i].estado === 'aceptada'">

                            <button class="btn btn-primary solicitar" id="botonx" (click)="openModal(template1)">{{peticiones[i].estado}}</button>

                          </div>

                          <div *ngIf="peticiones[i].estado === 'realizada'">

                            <button class="btn btn-primary solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>

                          </div>

                          <div *ngIf="peticiones[i].estado === 'completada'">

                            <button class="btn btn-secondary solicitar" id="botonx" disabled>{{peticiones[i].estado}}</button>
                            <br>
                            <div *ngIf="peticiones[i].valorada_solicitante === 0">

                              <label id = "anadirFoto" (click)="datosCreador(peticiones[i].id_creador)" (click)="openModal(template3b)">Pendiente de valoración</label>

                            </div>
                            

                          </div>

                          
                    
                        </div>
                        
 
                
                        <ng-template #template class="elmodal">
                          <div class="modal-header">
                            <h4 class="modal-title pull-center" id="h4filtro">Alguien ha solicitado tu petición</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                        
                            </button>
                          </div>
                          <div class="modal-body">
                      
                            <div> 
                                                 
                              <p>{{usuarioSolicitante[0].nombre_usuario}} ha solicitado tu petición "{{peticiones[i].titulo}}". Haz click en aceptar si quieres que la lleve a cabo o haz click en rechazar si quieres que la petición vuelva al muro y la haga otra persona.</p>        
                              
                                                                                
                            </div>

                            <button class="btn btn-outline-success" (click)="aceptarSolicitud(peticiones[i])" (click)="modalRef.hide()"> <i class="fa fa-check-circle"></i> Aceptar</button>
                            <button class="btn btn-outline-danger" id="rechazar" (click)="rechazarSolicitud(peticiones[i])" (click)="modalRef.hide()"> <i class="fa fa-times-circle"></i> Rechazar</button>
                            
                          </div>
                        </ng-template>

                        <ng-template #template1 class="elmodal">
                          <div class="modal-header">
                            <h4 class="modal-title pull-center" id="h4filtro">¿Ya has realizado la petición?</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                        
                            </button>
                          </div>
                          <div class="modal-body">
                      
                            <div> 
                                                 
                              <p>Por favor, asegúrate de haber completado la petición antes de hacer click en "Sí". Ten en cuenta que en caso de que no se haya completado la petición, no recibirás tus monedas</p>        
                              
                                                                                
                            </div>

                            <button class="btn btn-outline-success" (click)="realizarSolicitud(peticiones[i])"(click)="modalRef.hide()"> <i class="fa fa-check-circle"></i> Sí</button>
                            <button class="btn btn-outline-danger" id="rechazar" (click)="modalRef.hide()"> <i class="fa fa-times-circle"></i> No</button>
                            
                          </div>
                        </ng-template>

                        <ng-template #template2 class="elmodal">
                          <div class="modal-header">
                            <h4 class="modal-title pull-center" id="h4filtro">¡Petición completada!</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                        
                            </button>
                          </div>
                          <div class="modal-body">
                      
                            <div> 
                                                 
                              <p>Parece que {{usuarioSolicitante[0].nombre_usuario}} ha completado tu petición "{{peticiones[i].titulo}}". Por favor, asegúrate de que la petición se ha completado correctamente antes de continuar.</p>        
                              
                                                                                
                            </div>

                            <button class="btn btn-outline-success" (click)="completarSolicitud(peticiones[i])" (click)="modalRef.hide()"> <i class="fa fa-check-circle"></i> Continuar</button>
                            <button class="btn btn-outline-danger" id="rechazar" (click)="modalRef.hide()"> <i class="fa fa-times-circle"></i> Volver</button>
                            
                          </div>
                        </ng-template>

                        <ng-template #template3a class="elmodal" id="modalVal">
                          <div class="modal-header" id="headModalVal">
                            <h4 class="modal-title pull-center" id="h4filtro">Valora a {{usuarioSolicitante[0].nombre_usuario}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                        
                            </button>
                          </div>
                          <div class="modal-body" id="bodyModalVal">

                            <img src="../../../assets/emma.jpg" alt="" id="id_perfil">
                            <h3>{{usuarioSolicitante[0].nombre_usuario}}</h3>

                            <form>
                              <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" (click)="estrellitas(5)">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" (click)="estrellitas(4)">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" (click)="estrellitas(3)">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" (click)="estrellitas(2)">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" (click)="estrellitas(1)">
                                <label for="radio5">★</label>
                              </p>
                            </form>
                      
                            <div> 
                                                 
                              <p>La peticion "{{peticiones[i].titulo}}" se ha completado correctamente. Te agradeceríamos que ahora valoraras al usuario que ha realizado tu petición. Por favor, indica el número de estrellas que le darías a {{usuarioSolicitante[0].nombre_usuario}} por la tarea que ha llevado a cabo.</p>        
                              
                                                                                
                            </div>

                            <button class="btn btn-outline-success" (click)="valoracionModal3a(peticiones[i])" (click)="modalRef.hide()"> <i class="fa fa-check-circle"></i> Valorar</button>
                            
                            
                          </div>
                        </ng-template>

                        <ng-template #template3b class="elmodal" id="modalVal">
                          <div class="modal-header" id="headModalVal">
                            <h4 class="modal-title pull-center" id="h4filtro">Valora a {{usuarioCreador[0].nombre_usuario}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                        
                            </button>
                          </div>
                          <div class="modal-body" id="bodyModalVal">

                            <img src="../../../assets/emma.jpg" alt="" id="id_perfil">
                            <h3>{{usuarioCreador[0].nombre_usuario}}</h3>

                            <form>
                              <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" (click)="estrellitas(5)">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" (click)="estrellitas(4)">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" (click)="estrellitas(3)">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" (click)="estrellitas(2)">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" (click)="estrellitas(1)">
                                <label for="radio5">★</label>
                              </p>
                            </form>
                      
                            <div> 
                                                 
                              <p>La peticion "{{peticiones[i].titulo}}" se ha completado correctamente. Te agradeceríamos que ahora valoraras al usuario para el que realizaste la petición. Por favor, indica el número de estrellas que le darías a {{usuarioCreador[0].nombre_usuario}} por la tarea.</p>        
                              
                                                                                
                            </div>

                            <button class="btn btn-outline-success" (click)="valoracionModal3b(peticiones[i])" (click)="modalRef.hide()"> <i class="fa fa-check-circle"></i> Valorar</button>
                            
                            
                          </div>
                        </ng-template>
                  

                      </div>
                    </div>
                  </div>
      
                </div>
      
              </div>
          
            </div>
      
          </div>
      
        </div>
      </div>
      
    </div>
  </div>


</body>

