@font-face {
  font-family: principal;
  src: url(../../../assets/Reckless.otf) format("opentype");
}

#id_tiempo{
  height: 45px;
  width: 45px;
}

#nueva_peticion:hover {
  background-color: #FFCC00;
  color: white;
  text-decoration: none;
}

#tareas_realizadas{
  width: 365px;
  height: 80px;
  border-radius: 0px;
  font-family: principal;
  font-size: 300%;
  background-color: transparent;
  border-color:#FFCC00 ;
  color:#FFCC00 ;
}
#tareas_publicadas{
  width: 365px;
  height: 80px;
  position: absolute;
  border-radius: 0px;
  font-family: principal;
  font-size: 300%;
  background-color: transparent;
  border-color:#FFCC00 ;
  color:#FFCC00 ;
  justify-content: center;
   
}

#tareas_realizadas:focus, #tareas_realizadas:hover{
  background-color: #FFCC00;
  color: white;
  text-decoration: none;
  box-shadow: none;
}


#tareas_publicadas:hover, #tareas_publicadas:focus{
  background-color: #FFCC00;
  color: white;
  text-decoration: none;
  box-shadow: none;
}

#nueva_peticion{

  width: 250px;
  height: 80px;
  color:#FFCC00;
  font-weight: bold;
  border-color: #FFCC00;
  border-width: 2px;
  background-color: transparent;
  color: #FFCC00;
  border: 2px solid #FFCC00;
  border-radius: 50px;
  font-size: 22.5px;

  margin-top: 10%;

}

#id_perfil{

  width: 245px;
  height: 245px;
  border-radius: 245px;
}

.estrella{

  width: 35px;
  height: 35px;
  text-align: center;
  

}

#container1{

  padding-top: 80px;
}

body{

  min-height: 800px;
}


#nombre{

  margin-top: 5%;
}

#estrellas{

  margin-top: 5%;
}

#tiempo{

  margin-top: 5%;
}

.card-img-top{

  width: 290px;
  height: 220px;
}

.zona{
  color: rgb(255, 204, 0);
  font-weight: bold;
  float: left;
}

.card{

  width: 290px;
  margin: 22px;
  height: 500px;
  box-shadow: 3px 3px #e9e8e8;
  float: left;
  
}

.card-text{

  overflow:hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  text-align: justify;
  min-height: 75px;
}

.card-title{

  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fecha{

  float: right;
  margin-left: 20px;
  color: rgb(124, 124, 124);
  /* font-size: 13px; */
}

.monedas{
  float: right;
  font-family: reckless;
  font-size: 35px;
  margin-top: -2.5%;
}

.reloj{

  width: 25px;
  height: 25px;
  float: right;
  margin-top: 2.5%;
}

.solicitar{
  margin-top: 1%;
}

#botonx{

  color: white;
  font-weight: bold;


}

#container2{

  /* margin-left: 6%; */
  background-color: rgb(255, 204, 0);
  margin-bottom: 5%;
}

#anadirFoto{
  z-index: 1;
  position: absolute;
  margin-top: 1%;
  color:#FFCC00;
  margin-left: 1%;
  font-weight: bold;
  cursor: pointer;
 }

 #rechazar{

  margin-left: 10%;
 }



#headModalVal, #bodyModalVal{

  border: none;
  background-color: rgb(255, 204, 0);
}

p{

  text-align: justify;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 60px;
  text-align: center;
  margin: 5px;

}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

