@font-face {
  font-family: "Reckless";
  src: local("Reckless"), url("../../../assets/Reckless.otf");
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 1;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 4px solid #ffcc00;
}

p {
  color: white;
  height: 37px;
}

.espacio {
  width: 700px;
  height: 25px;
}

.img-ts {
  width: 152px;
  height: 152px;
  margin-left: 1em;
  padding: 5px;
}

form {
  background: white;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

label {
  font-weight: bold;
  color: #575757;
}

h5 {
  font-weight: bold;
  color: #575757;
}

body {
  background: #eceff1;
}

.campos:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  border-color: #ffcc00;
}

#botonxl {
  width: 120px;
  height: 120px;
  padding: 10px 16px;
  border-radius: 65px;
  font-size: 24px;
  line-height: 1.33;
  background: #2f2f2f;
  margin-left: 40%;
  margin-bottom: 3%;
  color: white;
  font-size: xx-large;
  font-family: Reckless;
}

#botonxl:active {
  transform: scale(1.06);
}

#botonxl:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  border-color: #ffcc00;
}

textarea {
  resize: none;
}

#masinfo {
  height: 150px;
}
