<body>



    <div class="espacio"></div>

    <div class="container" id="contenedor1">
        <h5>¿Qué necesitas?</h5>
        <figure class="figure img-text">
            <img src="../../../assets/Professor.jpg" alt="error" class="img-ts img-thumbnail">
            <figcaption class="figure-caption text-md-center">Clases</figcaption>
        </figure>
        <figure class="figure img-text">
            <img src="../../../assets/Mascotas.jpg" alt="error" class="img-ts img-thumbnail">
            <figcaption class="figure-caption text-md-center">Mascotas</figcaption>
        </figure>
        <figure class="figure img-text">
            <img src="../../../assets/recadosIIIII.jpg" alt="error" class="img-ts img-thumbnail">
            <figcaption class="figure-caption text-md-center">Recados</figcaption>
        </figure>
        <figure class="figure img-text">
            <img src="../../../assets/servicios.png" alt="error" class="img-ts img-thumbnail">
            <figcaption class="figure-caption text-md-center">Servicios</figcaption>
        </figure>


    </div>



    <div class="container" id="div1">
        <br>
        <form action="">

            <div class="form-group">
                <label for="photo">Añadir foto</label>
                <div class="drag-drop">
                    <input type="file" multiple="multiple" id="photo">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-cloud fa-stack-2x bottom pulsating"></i>
                        <i class="fa fa-circle fa-stack-1x top medium"></i>
                        <i class="fa fa-arrow-circle-up fa-stack-1x top"></i>
                    </span>
                    <span class="desc"></span>
                </div>
            </div>


            <div class="form-group">
                <label for="option">Titulo</label>
                <input class="form-control campos" id="titulo" type="text" placeholder="">
            </div>

            <div class="row">
                <div class="col">
                    <label for="option">Coste</label>
                    <input type="text" class="form-control campos" id="coste" placeholder="">
                </div>

                <div class="col">
                    <label for="option">Localización</label>
                    <input type="text" class="form-control campos" id="localizacion" placeholder="">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label for="textarea">Mas información</label>
                <textarea class="form-control campos" id="masinfo" rows="3"></textarea>
            </div>

            <br>

            <button type="submit" class="btn btn-default btn-circle btn-xl" id="botonxl"><i class="fa fa-check"></i>
                <p>Confirmar</p>
            </button>


        </form>
    </div>

    <div class="espacio"></div>

</body>