<div class ="cabecera">
    <header id="cabecera_id">
        <img src ="../../../assets/logo.png" id="id_logo">
            <div class="menu">
             <div class="home">
                <a href = "https://kanbanflow.com/board/D74YJo"><img src ="../../../assets/home.png" id="id_home"></a>
             </div>
             <div class="publicacion">
                <img src ="../../../assets/chincheta.png" id="id_publicacion">
              </div>
             <div class="perfil">
                <img src ="../../../assets/user.png" id="id_perfil">
                 </div>
             <div class="chat">
                <img src ="../../../assets/chat.png" id="id_chat">
              </div>
              <div class="reloj2">
                <img src ="../../../assets/reloj2.png" id="id_reloj2">
              </div>
         </div>
    </header>
</div>


