<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class ="container cabecera">

    <div class="row">

      <div class="col-lg-6">

        <img src ="../../../assets/logoHead.png" id="id_logo" (click)="mostrarPeticiones()">

      </div>

      <div class="iconos"> 
        <i class="fa fa-home fa-3x" aria-hidden="true" (click)="mostrarPeticiones()" (click)="actualizarUsuario()" id="home"></i>
        <i class="fa fa-thumb-tack fa-3x" aria-hidden="true"  (click)="actualizarUsuario()" routerLink="/peticiones" id="peticiones"></i>
        <i class="fa fa-user fa-3x" aria-hidden="true" (click)="actualizarUsuario()" routerLink="/perfil" id="perfil"></i>
        <i class="fa fa-comments fa-3x" aria-hidden="true" id="chat" (click)="mostrarChats()"></i>

        

        <span *ngIf="user!=undefined">
        
          <i class="fa fa-hourglass-half fa-2x" aria-hidden="true" id="reloj"></i>{{user[0].monedas}}
 
        </span>
      </div> 
    </div>
  </div>

  
</body>



</html>




