.icono{

    height: 38px;
    width: 38px;
    float: left;
    margin: 3.5px;
    margin-top: 25px;
    cursor: pointer;

    
}

.icono:focus,.icono:active, #id_logo:focus, #id_logo:active {
    outline: none;
    box-shadow: none;
}

#id_home{
    margin-left: 50%;
}

#id_reloj{

    margin-left: 18%;
}

#id_logo{
    height: 90px;
    width: 230px;
}

.cabecera{
    background-color: rgb(255, 204, 0);
    max-width: 100%;
}