<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  

  <div class ="container cabecera">

    <div class="row">

      <div class="col-lg-6">

        <img src ="../../../assets/logo.png" id="id_logo" (click)="mostrarPeticiones()">

      </div>

      <div class="col-lg-6 iconos">

        <div >
           <img class="icono" src ="../../../assets/home.png" id="id_home" (click)="mostrarPeticiones()">
        </div>
        <div >
           <img routerLink="/peticiones" class="icono" src ="../../../assets/chincheta.png" id="id_publicacion">
        </div>
        <div >
           <img routerLink="/perfil" class="icono" src ="../../../assets/user.png" id="id_perfil">
        </div>
        <div >
           <img class="icono" src ="../../../assets/chat.png" id="id_chat">
        </div>
        <div *ngIf="user!=undefined">
          {{user[0].monedas}}<img class="icono" src ="../../../assets/reloj2.png" id="id_reloj">
        </div>
        
      </div>
      
    </div>
    
  </div>

  
  
</body>
</html>




