#div1 {
    background: #717171;
}

#div2 {
    background:  #eceff1;
}

label {
   color:  #575757;
   font-family: Reckless;
   font-size: 30px;
}

h2 {
   color:  #575757;
   font-family: Reckless;
   font-size: 50px;
   text-align: center;
}

@font-face {
    font-family: "Reckless";
    src: local("Reckless"), url("../../../assets/Reckless.otf");
  }

  button {
    font-family: Reckless;
    border-radius: 30%;
    margin-left: 70px;
  }