<body>
    <app-head></app-head>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-1" id="div1">
                <ul class="social_footer_ul">
                    <li><a href="https://www.facebook.com/timextime.app.39"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/AppTimex"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/timextimeapp/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:outtime.mail@gmail.com"><i class="fas fa-envelope pr-1"></i></a></li>
                </ul>
            </div>
            <div class="col-10" id="div2">
                <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
                    <br>
                    <h2>CONTACTO</h2>
                    <br>
                    <div class="form-group">
                        <label>~ Nombre </label>
                        <input class="form-control campos" type="text" placeholder="Introduce tu nombre" name="nombre"
                            ngModel>
                    </div>
                    <div class="form-group">
                        <label>~ Email </label>
                        <input class="form-control campos" type="text" placeholder="Introduce tu email" name="email"
                            ngModel>
                    </div>
                    <div class="form-group">
                        <label>~ Asunto </label>
                        <input class="form-control campos" type="text" placeholder="Asunto" name="asunto" ngModel>
                    </div>

                    <div class="form-group">
                        <label>~ Mensaje </label>
                        <textarea class="form-control campos" id="masinfo" rows="8"
                            placeholder="En qué podemos ayudarte..." name="mensaje" ngModel></textarea>
                    </div>

                    <br>

                    <div class="form-group">
                        <button type="submit" id="botonEnviar"
                            class="btn btn-default btn-circle btn-xl"> Enviar
                        </button>
                    </div>
                </form>


            </div>

        </div>
    </div>
    <br>
    <br>


</body>