.huella{

    width: 250px;
    height: 250px;
    transform: rotate(35deg);
}

h3 {
    text-align: 2px
}

.servicios{
    width: 250px;
    height: 250px;
}

.card-text{
    min-height: 200px;
}

.container{

    margin: 25px;
}


#start {
    margin-left: -20px
    
   
  }


.estrella{


    width: 35px;
    height: 35px;
    margin-left: 0.6%;
    text-align: left;
    

}


#div1{

    padding-top: 30px;
    padding-right: 100px;
}


#div2{

   align-content:center
  
}


#div3{
    padding-top: 30px;
    margin-left: -3%;
    
}


#div4{
    align-items: center;
    text-align: center;
}
 
.card-img-top{

    width: 350px;
    height: 350px;
    margin-left: 23%;
}

.zona{

    /* font-size: 15px; */
    color: rgb(255, 204, 0);
    font-weight: bold;
    float: left;
}

.card{

    width: 650px;
    height: 750px;
    box-shadow: 3px 3px #e9e8e8;
   margin-left: 10%;
   margin-top: 5%;
   margin-bottom: 5%;
    
    
}

.card-text{

    text-align: justify;
}

.card-title{

    text-align: center;
}

.fecha{

    float: right;
    margin-left: 20px;
    color: rgb(124, 124, 124);
    /* font-size: 13px; */
}

.monedas{
    float: right;
    font-family: reckless;
    font-size: 50px;
    margin-top: -2.5%;
}

.reloj{

    width: 35px;
    height: 35px;
    float: right;
    margin-top: 2%;
}

.solicitar{
    margin-top: 1%;
    width: 150px;
    height: 45px;
    font-size: 20px;
}

#boton1{

    color: white;
    font-weight: bold;
    margin-bottom: 2%;


}


#publicadas{

    margin-left: 3%;

}

/* #nombre{

    text-align: left;
} */

#bio{

    text-align: justify;
    width: 430px;
    height: 230px;
    font-size: 13px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.checked {
    color: rgb(75, 75, 75);
}

.fa, .far{

    font-size: 35px;
    /* color: white; */
    color: rgb(75, 75, 75);
}


#estrellas{

    margin-left: 7.5%;
}

#puntos{

 text-align: right;
 margin-right: -5%;
  /*  margin-top: -11%;
    margin-left: -12%;*/
}
#numero{
    text-align: left;
 
   /* margin-left: -95%;
    margin-top: -11%;*/
}



@font-face{

    font-family: 'Reckless';
    src: local('Reckless'),
    url('../../../assets/Reckless.otf')
}

#avatar{

    width: 200px;
    height: 200px;
    border-radius: 200px;

}

#boton2{

    color: white;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
}
#boton3{

    color: white;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
}
#noValoracion{
    text-align: center;
    margin-left: 3%;
}
