<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

  <app-head></app-head>
  

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-4" id="div1">

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div *ngIf="peticion[0].categoria === 'mascotas'">


                <img class="huella" src="..\..\..\assets\huella.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'servicios'">


                <img class="servicios" src="..\..\..\assets\servicios.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'recados'">


                <img class="servicios" src="..\..\..\assets\Recados.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'clases'">


                <img class="servicios" src="..\..\..\assets\clases.png" alt="">
              </div>



              

            </div>
          </div>

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              
              <br><br><br><br><br><br><br>
            
            </div>
          </div>

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> 

              <div *ngIf="peticion[0].categoria === 'mascotas'">


                <img class="huella" src="..\..\..\assets\huella.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'servicios'">


                <img class="servicios" src="..\..\..\assets\servicios.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'recados'">


                <img class="servicios" src="..\..\..\assets\Recados.png" alt="">
              </div>

              <div *ngIf="peticion[0].categoria === 'clases'">


                <img class="servicios" src="..\..\..\assets\clases.png" alt="">
              </div>

            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
          </div>
        </div>
    

        <div class="col-lg-4" id="div2">

            <div class="card " id="card1">
              <img class="card-img-top" src="{{peticion[0].foto}}" alt="Card image cap">
            
              <div class="card-body">
                <h6 class="zona">{{peticion[0].localizacion}}</h6>
                <h6 class="fecha">{{peticion[0].fecha_finalizacion | date:'dd/MM/yyyy'}}</h6>
                <br>
                <br>
                <h5 class="card-title">{{peticion[0].titulo}}</h5>
                <p class="card-text">{{peticion[0].descripcion}}</p>

                <img class="reloj" src="..\..\..\assets\reloj-de-arena.png" alt="">
                <h6 class="monedas">{{peticion[0].precio}}</h6>
            

                <div *ngIf="petUsu[0].id_creador === userLogin[0].id_usuario">
                  <button class="btn btn-warning solicitar" id="boton1" disabled>{{peticion[0].estado}}</button>

                </div>

                <div *ngIf="peticion[0].estado === 'sin solicitar'">
                  <div *ngIf="petUsu[0].id_creador != userLogin[0].id_usuario">

                    <button type="button" class="btn btn-warning solicitar" id="boton1" (click)="solicitar()">Solicitar</button>
  
                  </div>


                </div>
                
                <div *ngIf="petUsu[0].id_creador != userLogin[0].id_usuario && peticion[0].estado === 'solicitada'">

                  <button class="btn btn-warning solicitar" id="boton1" disabled>{{peticion[0].estado}}</button>

                </div>
                
              </div>
            </div>
        </div>  
    
        <div class="col-lg-4" id="div3">
          <div class="bloque" id="div4">
          <img src="{{usuario[0].foto}}" id="avatar">

          <h3 id="nombre">{{usuario[0].nombre}} {{usuario[0].primer_apellido}} {{usuario[0].segundo_apellido}}</h3>

          <div id="start">
  
            <div *ngIf="(usuario[0].valoracion == 1 || usuario[0].valoracion > 1) && (usuario[0].valoracion < 1.4 || usuario[0].valoracion == 1.4)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              
              <div class="container">
          
                <div class="row">
        
                  <div class="col-lg-6">
      
                      <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
      
                  </div>
      
                  <div class="col-lg-6">
      
                      <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
      
                  </div>
                </div>
              </div>
              
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 1.41 || usuario[0].valoracion > 1.41) && (usuario[0].valoracion < 1.9 || usuario[0].valoracion == 1.9)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-alt"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
          
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 1.91 || usuario[0].valoracion > 1.91) && (usuario[0].valoracion < 2.4 || usuario[0].valoracion == 2.4)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
          
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
              
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 2.41 || usuario[0].valoracion > 2.41) && (usuario[0].valoracion < 2.9 || usuario[0].valoracion == 2.9)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-alt"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 2.91 || usuario[0].valoracion > 2.91) && (usuario[0].valoracion < 3.4 || usuario[0].valoracion == 3.4)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 3.41 || usuario[0].valoracion > 3.41) && (usuario[0].valoracion < 3.9 || usuario[0].valoracion == 3.9)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-alt"></span>
              <span class="far fa-star"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 3.91 || usuario[0].valoracion > 3.91) && (usuario[0].valoracion < 4.4 || usuario[0].valoracion == 4.4)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="far fa-star"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="(usuario[0].valoracion == 4.41 || usuario[0].valoracion > 4.41) && (usuario[0].valoracion < 4.9 || usuario[0].valoracion == 4.9)" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-alt"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
          
            </div>
          
            <div *ngIf="usuario[0].valoracion == 4.91 || usuario[0].valoracion > 4.91" id="estrellas">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
              <div class="container">
          
                  <div class="row">
          
                      <div class="col-lg-6">
          
                          <h5 id="puntos">{{usuario[0].valoracion}}/5 </h5> 
          
                      </div>
          
                      <div class="col-lg-6">
          
                          <h6 id="numero">{{usuario[0].numero_valoraciones}} valoraciones</h6>
          
                      </div>
                  </div>
              </div>
                  
            </div>
        
          <div class="card" id="bio">
            <div class="card-body">
              <h5 class="card-title">Bio</h5>
              <p class="card-text">{{usuario[0].biografia}}</p>
            </div>
          </div>

          <h5 id="publicadas">{{usuario[0].tareas_publicadas}} Publicadas | {{usuario[0].tareas_solicitadas}} Realizadas</h5>
          <div *ngIf="userLogin[0].id_usuario != usuario[0].id_usuario">
            <button class="btn btn-warning solicitar" id="boton2" (click)="iniciarChat()">Contacto</button>

          </div>

          <div *ngIf="userLogin[0].id_usuario === usuario[0].id_usuario">
            <button class="btn btn-warning solicitar" id="boton2" disabled>Contacto</button>

          </div>
          
        
        </div>
      </div>
    </div>
</div>
    </div>  
</body>
</html>
