<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

  

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-4" id="div1">

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

              <img class="huella" src="..\..\..\assets\huella.png" alt="">

            </div>
          </div>

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              
              <br><br><br><br><br><br><br>
            
            </div>
          </div>

          <div class="row">

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> 

              <img class="huella" src="..\..\..\assets\huella.png" alt="">

            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
          </div>
        </div>
    

        <div class="col-lg-4" id="div2">

            <div class="card " id="card1">
              <img class="card-img-top" src="..\..\..\assets\cat.png" alt="Card image cap">
            
              <div class="card-body">
                <h6 class="zona">Alcorcón, Madrid</h6>
                <h6 class="fecha">25/04/2020</h6>
                <br>
                <br>
                <h5 class="card-title">¿Alguien puede cuidar de mii gato?</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur eveniet distinctio facere sapiente officia ipsa sed odio labore, suscipit, perferendis veniam, corporis quibusdam non fugiat blanditiis laboriosam nobis maiores. Vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, delectus? Reiciendis enim quas, commodi cupiditate laboriosam reprehenderit illo quae alias quia co</p>

                <img class="reloj" src="..\..\..\assets\reloj-de-arena.png" alt="">
                <h6 class="monedas">10</h6>
            
                <a class="btn btn-warning solicitar" id="boton1">Solicitar</a>
              </div>
            </div>
        </div>  
    
        <div class="col-lg-4" id="div3">

          <img src="..\..\..\assets\emma.jpg" id="avatar">

          <h2 id="nombre">Emma Watson</h2>


          <div class="container" id="estrellas">
            <img src="..\..\..\assets\estrella.png" alt="" class="estrella">
            <img src="..\..\..\assets\estrella.png" alt="" class="estrella">
            <img src="..\..\..\assets\estrella.png" alt="" class="estrella">
            <img src="..\..\..\assets\estrella.png" alt="" class="estrella">
            <img src="..\..\..\assets\estrella.png" alt="" class="estrella">
          </div>

          <div class="card" id="bio">
            <div class="card-body">
              <h5 class="card-title">Bio</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.  </p>
            </div>
          </div>

          <h5 id="publicadas">5 Publicadas | 2 Realizadas</h5>
          <a class="btn btn-warning solicitar" id="boton2">Contacto</a>
        
        </div>
      </div>

    </div>  
</body>
</html>
