<div id="arriba" class="container-fluid" >

    <div class="row">
        <div class="col-3">
            <img id = "logo" src="../../../assets/logoHead.png"> 
        </div>

        <div class="col-9"> 
            <h1> sobre <span>nosotros</span> </h1>
        </div>
     </div>
</div>

<div class="container" >

    <div class="row">
        <div class="col-12">
            
        <br>
            <h2> ¿Qué es Time <span class ="yellow"> X  </span> Time?</h2>
            <br>
            <div class="card " id="card1">
                <p class= textSomos> ¿Quién no ha deseado en algún momento que el día tenga 26h?
                                     El tiempo es algo muy valioso en la sociedad actual y <strong>Time X Time</strong>  
                                    es la herramienta perfecta para gestionarlo a tu manera.
                                    Intercambia tu tiempo cuando disongas de algo libre y deja a otros que te 
                                    den el suyo cuando más lo necesitas. </p>
                                    <br>
                                   
                                    <p class= "textSomos"><i class="fas fa-hourglass-half"></i> Intercambia tiempo por tiempo, cuando más lo necesites.</p>
                                    <br>

                                    
                                    <p class= "textSomos"><i class="fas fa-sync-alt"></i>
                                    Únete, no pierdas más el tiempo.</p>

            
                                  
                                    <h3 id="tictac"> TAK, TIC TAK, TIC TAK! </h3>

                            </div>
                  
                <h2> ¿Quienes somos?</h2>
        </div>
    </div>
<br>

    <div class="row">
        <div class="col-3">
            <h4>Jorge R Saíz</h4>
            <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-chibi-boy-with-glasses-png-image_3782196.jpg" alt="Jorge">
            <br>
            <p class="textSomos"> Este es Jorge, entre sus super-poderes se encuentra una capacidad innata
                 para jugar a Call of duty sin precedente.
                 <br>
                Puede que os interese saber aunque que a veces pueda parecer un poco cuadriculado, lo cierto es que tiene
                 una capacidad excelente de organización y una lógica para programar de superheroe. </p>
        </div>

        <div class="col-3">
            <h4>Javier García Valle</h4>
            <img src="https://cdn1.iconfinder.com/data/icons/kids-cartoon/50/5-512.png" alt="Javi">
            <br>
            <p class="textSomos"> Este es Javi, sobre él os gustará saber que ha sido capaz de convertir su
                 'Toque Blanche' en un menú de lineas de código en menos de lo que se hace un cocido.
                Entre sus superpoderes se encuentra la capacidad de conseguir convertir cualquier pieza de 
                información sacada de internet en algo aplicable, útil y que funciona a la perfección.  </p>
        </div>

        <div class="col-3">
            <h4>Jesús Montes</h4>
            <img src="http://pluspng.com/img-png/png-hd-boy-comision-dorilikehd-png-by-zeiidah-894.png" alt="PNG HD Boy">
            <br>
            <p class="textSomos">Jesús acaba de dejar su camión en Codenotch y no tiene pensado
                pagar el parking hasta que TIME X TIME salga a la luz.
                <br>
                Entre sus superpoderes se encuentran una capacidad excepcional para trabajar en equipo y destruir cualquier tipo de mal
                rollo que amenace con atacar la misión.
                <br>
                 Su última hazaña: 25% disminución del ratio de suicidios en su equipo. </p>
         
        </div>

        <div class="col-3">
            <h4>Silvia Lozano Barreiro</h4>
            <img src="https://i0.wp.com/dailyrepeats.com/wp-content/uploads/2018/10/girls-dp-cute.jpg?zoom=1.25&fit=600%2C600&ssl=1" alt="Silvia">
        <br>
            <p class = "textSomos"> Silvia ha decidido resetear su código profesional al volver a España después de 8 años en Reino Unido.
                <br>
                Entre sus superpoderes se encuentra su capacidad de obstinación con completar una
                misión independientemente del número de veces que la vida le de fallos al compilar.
            </p>
        </div>
    </div>  

</div>